#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas más pequeñas */
  gap: 6rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
  line-height: 1.1;
  opacity: 0.5;
}

form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 0.8em;
}

li {
  cursor: pointer;
  padding: 4px;
}

li:hover {
  background-color: #b47f7f;
  border-radius: 4px;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    font-size: 1.1em;
  }
}
